:root {
    --primario: #f7dfe5;
    --primarioOscuro: #e5c2eb;
    --secundario: rgb(201, 201, 201);
    --secundarioOscuro: #9287f5;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
}

a {
    text-decoration: none;
    font-size: 3rem;
    font-family: var(--fuentePrincipal);
}

img {
    width: auto;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    height: auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.4rem;
}

.enlaces-sesion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 1rem solid var(--secundarioOscuro);
    background-color: var(--primarioOscuro);
    color: var(--negro);
    text-decoration: none;
    border-radius: 5px;
}


/* Estilos del contenedor del banner */

.bloque-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr 1fr 1fr 1fr); /* Repetir 3 columnas, cada una del ancho de la ventana */
    grid-gap: 0; /* Sin espacio entre las columnas */
}

.blo-img {
    width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor de la columna */
    height: auto;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    max-width: 100%;
    justify-items: center;
}

input {
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    padding: 1rem;
    appearance: none;
    width: 50%;
}

label {
    background-color: var(--primarioOscuro);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 1rem;
    width: 50%;
}

label.cantidad {
    width: 100%;
}

input.formulario_submit {
    border: 1rem solid var(--secundarioOscuro);
    background-color: var(--primarioOscuro);
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    width: auto;
}

input.formulario_submit_eliminar {
    border: 0.5rem solid var(--secundarioOscuro);
    background-color: var(--secundario);
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: 1.75rem;
    width: auto;
    padding: 0.75rem;
}

.menu {
    display: flex;
    height: 100px;
    background-color: var(--primarioOscuro);
    padding: 0;
    margin-bottom: 5px;
    margin-top: 0;
    width: 100%;
}

ul.menu-content {
    width: 70%;
    margin: 20px auto 0;
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex; /* Usa flexbox para hacer el menú horizontal */
    justify-content: center; /* Centra los elementos horizontalmente */
}

ul.menu-content li {
    margin: 10px;
    font-weight: bold;
}

ul.menu-content li a {
    text-decoration: none;
    color: var(--negro);
    border-bottom: 2px solid transparent;
}

ul.menu-content li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.productos {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    margin: 0%;
    padding: 0%;
}

h3.titulo, p.titulo {
    margin: 0%;
}

h3.titulo {
    margin-top: 5rem;
}

.carrito-producto {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    margin: 0%;
    padding: 0%;
}

p.titulo_c {
    margin: 0%;
}

table, td, th {
    border: 0.125rem solid var(--negro);
}
